.row
  .col-sm-8.col-sm-offset-2
    .page-header
      %h1
        Credits
    %p.lead

    %p
      This portal has been built on top of SuSE hackweek project. Please contact
      = link_to 'Chenthill Palanisamy', 'mailto:chenthill.palanisamy@softwareag.com'
      for any queries or enhancements!!

