.home-page
  .row
    .banner-section
      = image_tag 'Tech_fest_banner.jpg', class: 'img-responsive img-center', alt: 'TechFest Banner'
  .row
    .col-md-12
      %p.lead
        Please register your team with a Name and list the five members.
    .col-md-12
      %p.lead
        What are you going to hack on?
  .row
    .col-md-8.col-md-offset-2
      %p
        .btn-group.btn-group-justified.btn-group-lg
          = link_to new_project_path, class: 'btn btn-lg btn-info' do
            Register
            %span.hidden-xs
              Your Team

