@import "variables.scss";
$welcome-text-color: $primary-brand-color-light;
$login-text-color: #333333;
$login-placeholder-color: #666666;
$login-txt-color: #000000;
$login-input-hover-color: #666666;
$login-input-focus: $primary-brand-color-light;
$login-txt-border:#999;
$login-txt-active-color: $primary-brand-color-light;
$login-btn-bgcolor: $primary-brand-color-light;
$login-btn-color: #fff;
$login-btn-hover-bgcolor: lighten( saturate( adjust-hue( $login-btn-bgcolor, -3deg ), 4 ), 3 );
.sag-login-container {
  display: table;
  margin: auto;
  height: 83vh;
}

.sag-login-page {
  font-size: 14px;
  position: relative;
  min-height: 100vh;
  .sag-login-txt {
    border-radius: 1px;
    width: 300px;
    border: 1px solid $login-txt-border;
    margin-top: 10px;
    padding: 14px 0 14px 10px;
    color: $login-txt-color;
    &:placeholder-shown {
      color: $login-placeholder-color;
    }
    &:hover {
      border-color: $login-input-hover-color;
    }
    &:focus,
    &:active {
      box-shadow: 0 0 4px $login-txt-active-color;
      border: 1px solid $login-txt-active-color;
      outline: 0;
    }
  }
  .sag-login-btn {
    margin-top: 30px;
    border-radius: 1px;
    width: 300px;
    border: none;
    background-color: $login-btn-bgcolor;
    color: $login-btn-color;
    padding: 15px 0 15px 0;
    &:hover,
    &:active {
      background-color: $login-btn-hover-bgcolor;
      border: none;
      color: $login-btn-color;
    }
  }
}

.welcome-text {
  font-size: 30px;
  color: $welcome-text-color;
  margin: 0;
  font-weight: bold;
}

.login-text {
  font-size: 36px;
  color: $login-text-color;
  margin: 10px 0 0;
}

.login-text,
.welcome-text {
  line-height: 75%;
}

.sag-login-panel {
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}

.sag-login-panel .inner-addon {
  position: relative;
  margin-top: 10px;
  span {
    position: absolute;
    margin-top: 2px;
    padding: 20px 10px 10px 11px;
    font-size: 22px;
  }
}

.left-addon {
  input
   {
    padding-left: 40px;
  }
  span {
    margin-left: -300px;
  }
  .sag-login-txt:focus + span {
    color: $welcome-text-color;
  }
}

.error {
  box-shadow: 0 0 4px $validation-error-color;
  border: 1px solid $validation-error-color;
}

.error-text {
  color: $validation-error-color;
  font-size: 12px;
  float: left;
  margin-top: 5px;
  line-height: 0;
  padding-top: 5px;
  position: absolute;
}

.login-btn-bottom {
  padding-top: 20px;
}

.hidden {
  display: none;
}

.above-username {
  padding-bottom: 20px;
}

@font-face {
  font-family: 'Glyphter';
  src: font-url("Glyphter.woff") format("woff"),
  font-url("Glyphter.ttf") format("truetype"),
  font-url("Glyphter.svg#Glyphter") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*='sag-ico_']:before {
  display: inline-block;
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: bold;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.sag-ico_password_active:before {
  content: '\004a';
}

.sag-ico_password_unactive:before {
  content: '\004b';
}

.sag-ico_password_up:before {
  content: '\004c';
}

.sag-ico_user_active:before {
  content: '\004d';
}

.sag-ico_user_disabled:before {
  content: '\004e';
}

.sag-ico_user_up:before {
  content: '\004f';
}