%footer
  .container
    .row
      .col-sm-12.text-center
        %div.col-sm-12.text-center
        %ul.nav.nav-pills.nav-justified
          %li
            = link_to(announcements_path) do
              %i.fa.fa-bullhorn
              News
          %li
            = link_to(about_path) do
              %i.fa.fa-question
              About
          %li
            = link_to(credits_path) do
              %i.fa.fa-heartbeat
              Credit.
